[View in Colaboratory](https://colab.research.google.com/github/DeepankJain/Machine-Learning/blob/master/Pandas/Getting_and_know_your_data.ipynb)

In [0]:
#importing the libraries
import pandas  as pd
import numpy as np

In [0]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url , sep = '\t')

In [4]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [6]:
df.shape

(4622, 5)

In [7]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [9]:
#which was the most ordered item?
var = df.groupby('item_name').sum()
var = var.sort_values(['quantity'], ascending = False)
var.head(10)

                              order_id  quantity
item_name
Chicken Bowl                    713926       761
Chicken Burrito                 497303       591
Chips and Guacamole             449959       506
Steak Burrito                   328437       386
Canned Soft Drink               304753       351
Chips                           208004       230
Steak Bowl                      193752       221
Bottled Water                   175944       211
Chips and Fresh Tomato Salsa    100419       130
Canned Soda                      76396       126

In [10]:
#how many items were ordered in total?
total = df['quantity'].sum()
print(total)

4972

In [11]:
#turn the item_price into a float
convertFloat = lambda x : float(x[1:-1])
df['item_price'] = df['item_price'].apply(convertFloat)
print(df.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98

In [12]:
#how much was the revenue for the period in dataset?
revenue = (df['quantity'] * df['item_price']).sum()
print(revenue)

39237.02

In [13]:
#how many orders were made in the period?
orderCount = df['order_id'].value_counts().count()
print(orderCount)

1834

In [14]:
#what is the average amount per order?
print(revenue/orderCount)

21.39423118865867

In [15]:
#how many different items are sold?
df['item_name'].value_counts().count()

50